name: CI with Cache

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Cache dependencies
        id: cache-b491353
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            node_modules
          key: cache-b491353

      - name: prime-cache-b491353
        run: echo "Cache hit: ${{ steps.cache-b491353.outputs.cache-hit }}"

      - name: Install dependencies
        run: npm install
